ul{
    list-style: none;
    padding: 10px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: cyan;
    padding: 10px;
    border-bottom: solid blueviolet 4px;
    margin: 0px;
    box-shadow: 1px 1px rgb(12, 14, 12);
}
.navbar>li{
    display: flex;
    align-items: center;

}
.logo{
    height: 150px;
}
.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
   
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainbutton{
    background-color: blue;
    box-shadow: 2px 2px coral;
    color: white;
    
}
.mainbutton:hover{
    cursor: pointer;
    transform: scale(1.1);   
}

.secondarybutton{
    background-color: coral;
    box-shadow: 2px 2px blue;
    color: white;
}
.secondarybutton:hover{
    cursor: pointer;
    transform: scale(1.1);   
}
.buscar{
    background-color: white;  
    border: 1px solid;
    padding: 4px;
    border-radius: 8px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.buscar>input{
    outline: none;
    border: 0px;
}
.margen{
    margin: 0px;
}
.icono:hover{
    color:forestgreen;
}
.contenedorimagen{
    display: flex;
    width: 250px;
}
.contenedorimagen:hover{
    display: flex;
    width: 250px;
    transform: scale(1.3);
    cursor: pointer;
}
.contenedorimagen>img{
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 10px;
}


.contenedorcartas{

    display: flex;
    justify-content: space-between;

}
.carta{
    margin: 10px;
    background-color gray;
    box-shadow: seagreen;
    border-radius: 18px;
    
}
.titulocarta{
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
    font-size: xx-large;

}